
.card{
background: #fff;
  border-radius: 2px;
  height: 210px;
  margin: 1rem;
  position: relative;
  width: 210px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  display: inline-block;
}

.card > .img-container {
    /* height: 100%; */
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
}

.card > .img-container > img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 100%;

}

@media only screen and (min-width: 215px) {
  .card{
    height: 70px;
    width: 70px;
  }
}

@media only screen and (min-width: 415px) {
  .card{
    height: 110px;
    width: 110px;
  }
}

@media only screen and (min-width: 700px) {
  .card{
    height: 210px;
    width: 210px;
  }
}
 