.jumbotron{
    position: relative;
    margin-top: 9%;
    height: 16rem;
    background-color: black;
    color: white
}

@media only screen and (max-width: 768px) {
/* .jumbotron{
    position: relative;
    margin-top: 12%;
} */
}