.jumbotron{
    position: relative;
    margin-top: 9%;
    height: 16rem;
    background-color: black;
    color: white
}

@media only screen and (min-width: 200px) {
    .jumbotron{
        position: relative;
        margin-top: 14.5%;
    }
}

@media only screen and (min-width: 700px) {
    .jumbotron{
        position: relative;
        margin-top: 11%;
    }
}

@media only screen and (min-width: 1400px) {
    .jumbotron{
        position: relative;
        margin-top: 9%;
    }
}